@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark] &));

@layer components {
  /* Fonts & Text */
  .label {
    @apply text-xs font-medium uppercase tracking-wide text-slate-500;
  }
  .header {
    @apply text-sm font-semibold uppercase tracking-wide text-neutral-700;
  }
  .meta-label {
    @apply text-xs font-medium uppercase tracking-wide text-slate-400;
  }
  .text-muted {
    @apply mt-1 text-sm text-slate-500 leading-relaxed;
  }
  .text-strong-sm {
    @apply text-sm font-semibold text-neutral-800;
  }
  .text-medium-sm{
    @apply text-sm font-medium text-neutral-800;
  }

  /* Layout */
  .page-container {
    @apply min-h-screen px-6 py-8;
  }
  .page-content {
    @apply mx-auto max-w-3xl md:space-y-10 space-y-5;
  }
  .page-content-wide {
    @apply mx-auto max-w-6xl md:space-y-10 space-y-5;
  }
  .page-content-lg {
    @apply mx-auto max-w-4xl md:space-y-10 space-y-5;
  }

  /* Cards */
  .card {
    @apply rounded-2xl bg-white border border-slate-100 shadow-sm;
  }

  /* Form Elements */
  .form-input {
    @apply w-full rounded-lg border border-slate-200 bg-white p-4 text-sm text-neutral-800 placeholder:text-slate-400 focus:border-slate-300 focus:outline-none focus:ring-2 focus:ring-slate-100;
  }
  .mood-badge {
    @apply inline-flex items-center gap-2 rounded-full bg-slate-50 px-3 py-1;
  }

  /* Buttons */
  .btn-icon {
    @apply inline-flex items-center justify-center rounded-lg border border-slate-200 px-3 py-2 text-slate-600 hover:bg-slate-50 hover:text-slate-800 cursor-pointer;
  }
  .btn {
    @apply rounded-lg border border-slate-200 px-4 py-2 text-sm font-medium text-neutral-700 hover:bg-slate-50 cursor-pointer;
  }
}